      <% posts.each do |post| %>
        <%= link_to post_path(post.id) do %>
          <div class="question-card flex">
            <p><%= post.name %></p>
          </div>
        <% end %>
      <% end %>
