/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('index');

 // fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

 @import "font-awesome";


 body {
  //  background-color: #76918B;
  // text-align: center;
    box-sizing: border-box;
   margin: 0 !important;
   padding: 0 !important;
 }

 h1 {
   font-size: 36px;
  //  font-family: 'Helvetica Neue', sans-serif;
   margin-bottom: 10px;
 }

    p {
      color: #757575;
      line-height: 1.5;
      font-size: 18px;
      font-family: 'Noto Sans', sans-serif;
    }
