.container {
  // height: 1200px;
}

.flex {
  display: flex;
}

.grid {
  // justify-content: center;
  // align-items: center;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.column {
  flex-direction: column;
}

.inline {
  flex-direction: inline;
}

a {
  text-decoration: none !important;
  color: #76918B;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-size: 56px !important;
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
}

// ov = overflow

.ov {
  overflow: scroll;
  overflow-x: hidden;
}


  .strong-words {
    font-weight: bold;
    color: #76918B;
  }




// PUB
.ads {
  display: flex;
  color: #CCCCCC;
  height: 300px;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
    background-image: url('fond_cosmique.gif');
}

.ads:before {
  content: 'Publicité AdSense';
  display: block;
  font-size: 24px;
    height: 170px;
  background-image: url('fond_cosmique.gif');
}


// box de l'acceuil contient h2 categorie est div categ

.main-box {
  position: absolute;
  top: 15%;
  left: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 80%;
  border-radius: 12px;
  align-items: center;
}

// contient les categories
.categories {
  padding: 20px;
  // background-color: aliceblue;
  width: 60%;
  height: 80%;
  align-items: center;
  gap: 10px;
}

// h2 titre de la carte (categories)

#name-card-acceuil {
  font-family: 'Helvetica Neue', sans-serif;
  padding-top: 20px;
  font-size: 36px;
  color: #d7e3e0;
}
////////////////////// CARTES ///////////////////////////////
.category-card {
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 600px;
  border-radius: 12px;
}

.sub-category-card {
  border-radius: 12px;
  padding: 10px;
  background-color: #353535;
  font-size: 16px;
}

////////////////////// FIN CARTES ////////////////////////////

// div qui apparait au hover de la carte qui contient les sous cate
.lists-sub-cat {
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  background-color: #76918B;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lists-sub-cat:hover {
  opacity: 1;
}
////////////////////////////////////////////////

// les nom des categories dans la carte
.h2-category {
  font-size: 50px;
  font-weight: bold;
  color: #353535;
}
