
<div class="container">
<div class="main-box flex column" style="background-image: url('https://res.cloudinary.com/dtv4zvyjx/image/upload/v1677895812/forum%20with%20ChatGPT/background-khaoticfuture_lxevnd.gif')">
    <h2 id="name-card-acceuil">CATEGORIES</h2>
    <div class="categories flex column">
      <% @categories.each do |category| %>
        <div class="category-card flex" style="background-image: url('<%= cl_image_path category.image.key, height: 200, crop: :fill %>'); filter: brightness(110%) saturate(130%) hue-rotate(5deg);">
          <h2 class='h2-category'><%= category.name.upcase! %></h2>
          <div class="lists-sub-cat flex">
            <% category.sous_categories.each do |sub_category| %>
              <div class="sub-category-card flex">
                <%= link_to "#{sub_category.name}", sous_categories_path(sub_category.id) %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
